<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mty.mapper.CartMapper">

    <sql id="Base_Column_List">
        cart.id,
        cart.gid,
        cart.num,
        cart.uid,
        cart.create_time createTime,
        goods.name goodsName,
        goods.money goodsMoney,
        goods.image goodsImage,
        goods.num goodsNum,
        user.realname realname
    </sql>

    <!--分页查询使用-->
    <select id="queryAllByLimit" resultType="com.mty.entity.Cart" parameterType="map">
        select 
        <include refid="Base_Column_List" /> 
        from cart
        left join goods on cart.gid = goods.id 
        left join user on cart.uid = user.id 
        <where>
        <if test="id != null and id != '' ">
            and cart.id = #{id}
        </if>
        <if test="gid != null and gid != '' ">
            and cart.gid = #{gid}
        </if>
        <if test="num != null and num != '' ">
            and cart.num = #{num}
        </if>
        <if test="uid != null and uid != '' ">
            and cart.uid = #{uid}
        </if>
        <if test="createTime != null and createTime != '' ">
            and cart.create_time = #{create_time}
        </if>
        <if test="goodsName != null and goodsName != '' ">
            and goods.name like concat('%',#{goodsName},'%')
        </if>
        <if test="realname != null and realname != '' ">
            and user.realname like concat('%',#{realname},'%')
        </if>
        </where>
        order by cart.create_time desc
    </select>

    <!--按条件查询使用-->
    <select id="queryCondition" resultType="com.mty.entity.Cart">
        select 
        <include refid="Base_Column_List" /> 
        from cart
        left join goods on cart.gid = goods.id 
        left join user on cart.uid = user.id 
        <where>
        <if test="id != null and id != '' ">
            and cart.id = #{id}
        </if>
        <if test="gid != null and gid != '' ">
            and cart.gid = #{gid}
        </if>
        <if test="num != null and num != '' ">
            and cart.num = #{num}
        </if>
        <if test="uid != null and uid != '' ">
            and cart.uid = #{uid}
        </if>
        <if test="createTime != null and createTime != '' ">
            and cart.create_time = #{create_time}
        </if>
        <if test="goodsName != null and goodsName != '' ">
            and goods.name like concat('%',#{goodsName},'%')
        </if>
        <if test="realname != null and realname != '' ">
            and user.realname like concat('%',#{realname},'%')
        </if>
        </where>
        order by cart.create_time desc
    </select>

    <!--根据ID查询-->
    <select id="queryById" resultType="com.mty.entity.Cart">
        select 
        <include refid="Base_Column_List" /> 
        from cart
        left join goods on cart.gid = goods.id 
        left join user on cart.uid = user.id 
        where cart.id = #{id}
    </select>

    <!--添加-->
    <insert id="insert" parameterType="com.mty.entity.Cart" keyProperty="id" useGeneratedKeys="true">
        insert into cart(
          id,
          gid,
          num,
          uid,
          create_time
        )values( 
          #{id},
          #{gid},
          #{num},
          #{uid},
          #{createTime}
        )
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.mty.entity.Cart">
        update cart
        <set>
          <if test="id != null">
              id = #{id},
          </if>
          <if test="gid != null">
              gid = #{gid},
          </if>
          <if test="num != null">
              num = #{num},
          </if>
          <if test="uid != null">
              uid = #{uid},
          </if>
        </set>
        where id = #{id} 
    </update>

    <!--根据id删除-->
    <delete id="deleteById" >
        delete from cart where id=#{id}
    </delete>

</mapper>