<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mty.mapper.CategoryMapper">

    <sql id="Base_Column_List">
        category.id,
        category.name,
        category.remark,
        category.create_time createTime
    </sql>

    <!--分页查询使用-->
    <select id="queryAllByLimit" resultType="com.mty.entity.Category" parameterType="map">
        select 
        <include refid="Base_Column_List" /> 
        from category
        <where>
        <if test="id != null and id != '' ">
            and category.id = #{id}
        </if>
        <if test="name != null and name != '' ">
            and category.name like concat('%',#{name},'%')
        </if>
        <if test="remark != null and remark != '' ">
            and category.remark = #{remark}
        </if>
        <if test="createTime != null and createTime != '' ">
            and category.create_time = #{create_time}
        </if>
        </where>
        order by category.create_time desc
    </select>

    <!--按条件查询使用-->
    <select id="queryCondition" resultType="com.mty.entity.Category">
        select 
        <include refid="Base_Column_List" /> 
        from category
        <where>
        <if test="id != null and id != '' ">
            and category.id = #{id}
        </if>
        <if test="name != null and name != '' ">
            and category.name like concat('%',#{name},'%')
        </if>
        <if test="remark != null and remark != '' ">
            and category.remark = #{remark}
        </if>
        <if test="createTime != null and createTime != '' ">
            and category.create_time = #{create_time}
        </if>
        </where>
        order by category.create_time desc
    </select>

    <!--根据ID查询-->
    <select id="queryById" resultType="com.mty.entity.Category">
        select 
        <include refid="Base_Column_List" /> 
        from category
        where category.id = #{id}
    </select>

    <!--添加-->
    <insert id="insert" parameterType="com.mty.entity.Category" keyProperty="id" useGeneratedKeys="true">
        insert into category(
          id,
          name,
          remark,
          create_time
        )values( 
          #{id},
          #{name},
          #{remark},
          #{createTime}
        )
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.mty.entity.Category">
        update category
        <set>
          <if test="id != null">
              id = #{id},
          </if>
          <if test="name != null">
              name = #{name},
          </if>
          <if test="remark != null">
              remark = #{remark},
          </if>
        </set>
        where id = #{id} 
    </update>

    <!--根据id删除-->
    <delete id="deleteById" >
        delete from category where id=#{id}
    </delete>

</mapper>