<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mty.mapper.OutfitMapper">

    <sql id="Base_Column_List">
        outfit.id,
        outfit.image,
        outfit.type,
        outfit.season,
        outfit.name,
        outfit.content,
        outfit.uid,
        outfit.num,
        outfit.status,
        outfit.create_time createTime,
        user.realname realname,
        user.image userImage,
        (select count(1) from discuss where discuss.oid = outfit.id) comments
    </sql>

    <!--分页查询使用-->
    <select id="queryAllByLimit" resultType="com.mty.entity.Outfit" parameterType="map">
        select 
        <include refid="Base_Column_List" /> 
        from outfit
        left join user on outfit.uid = user.id 
        <where>
        <if test="id != null and id != '' ">
            and outfit.id = #{id}
        </if>
        <if test="image != null and image != '' ">
            and outfit.image = #{image}
        </if>
        <if test="type != null and type != '' ">
            and outfit.type = #{type}
        </if>
        <if test="season != null and season != '' ">
            and outfit.season = #{season}
        </if>
        <if test="name != null and name != '' ">
            and outfit.name like concat('%',#{name},'%')
        </if>
        <if test="content != null and content != '' ">
            and outfit.content = #{content}
        </if>
        <if test="uid != null and uid != '' ">
            and outfit.uid = #{uid}
        </if>
        <if test="num != null and num != '' ">
            and outfit.num = #{num}
        </if>
        <if test="status != null and status != '' ">
            and outfit.status = #{status}
        </if>
        <if test="createTime != null and createTime != '' ">
            and outfit.create_time = #{create_time}
        </if>
        <if test="realname != null and realname != '' ">
            and user.realname like concat('%',#{realname},'%')
        </if>
        </where>
        order by outfit.create_time desc
    </select>

    <!--按条件查询使用-->
    <select id="queryCondition" resultType="com.mty.entity.Outfit">
        select 
        <include refid="Base_Column_List" /> 
        from outfit
        left join user on outfit.uid = user.id 
        <where>
        <if test="id != null and id != '' ">
            and outfit.id = #{id}
        </if>
        <if test="image != null and image != '' ">
            and outfit.image = #{image}
        </if>
        <if test="type != null and type != '' ">
            and outfit.type = #{type}
        </if>
        <if test="season != null and season != '' ">
            and outfit.season = #{season}
        </if>
        <if test="name != null and name != '' ">
            and outfit.name like concat('%',#{name},'%')
        </if>
        <if test="content != null and content != '' ">
            and outfit.content = #{content}
        </if>
        <if test="uid != null and uid != '' ">
            and outfit.uid = #{uid}
        </if>
        <if test="num != null and num != '' ">
            and outfit.num = #{num}
        </if>
        <if test="status != null and status != '' ">
            and outfit.status = #{status}
        </if>
        <if test="createTime != null and createTime != '' ">
            and outfit.create_time = #{create_time}
        </if>
        <if test="realname != null and realname != '' ">
            and user.realname like concat('%',#{realname},'%')
        </if>
        </where>
        order by outfit.create_time desc
    </select>


    <select id="recommend" resultType="com.mty.entity.Outfit">
        select
        <include refid="Base_Column_List" />
        from outfit
        left join user on outfit.uid = user.id
        order by comments desc
        limit 3
    </select>

    <!--根据ID查询-->
    <select id="queryById" resultType="com.mty.entity.Outfit">
        select 
        <include refid="Base_Column_List" /> 
        from outfit
        left join user on outfit.uid = user.id 
        where outfit.id = #{id}
    </select>

    <!--添加-->
    <insert id="insert" parameterType="com.mty.entity.Outfit" keyProperty="id" useGeneratedKeys="true">
        insert into outfit(
          id,
          image,
          type,
          season,
          name,
          content,
          uid,
          num,
          status,
          create_time
        )values( 
          #{id},
          #{image},
          #{type},
          #{season},
          #{name},
          #{content},
          #{uid},
          #{num},
          #{status},
          #{createTime}
        )
    </insert>

    <!--更新-->
    <update id="update" parameterType="com.mty.entity.Outfit">
        update outfit
        <set>
          <if test="id != null">
              id = #{id},
          </if>
          <if test="image != null">
              image = #{image},
          </if>
          <if test="type != null">
              type = #{type},
          </if>
          <if test="season != null">
              season = #{season},
          </if>
          <if test="name != null">
              name = #{name},
          </if>
          <if test="content != null">
              content = #{content},
          </if>
          <if test="uid != null">
              uid = #{uid},
          </if>
          <if test="num != null">
              num = #{num},
          </if>
          <if test="status != null">
              status = #{status},
          </if>
        </set>
        where id = #{id} 
    </update>

    <!--根据id删除-->
    <delete id="deleteById" >
        delete from outfit where id=#{id}
    </delete>

</mapper>